<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.mm2d.guidemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".theme.ThemeSelectActivity">
        </activity>
        <activity android:name=".theme.ThemeCheckCompatActivity">
        </activity>
        <activity
            android:name=".theme.ThemeCheckBaseActivity"
            android:theme="@style/AppBaseTheme">
        </activity>
        <activity android:name=".navi.NavigationSelectActivity">
        </activity>
        <activity
            android:name=".navi.NavigationDrawerV4Activity"
            android:theme="@style/AppBaseTheme">
        </activity>
        <activity android:name=".navi.NavigationDrawerV7Activity">
        </activity>
        <activity
            android:name=".navi.NavigationDrawerMaterialActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".navi.ItemListActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".navi.ItemDetailActivity"
            android:parentActivityName=".navi.ItemListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".navi.ItemListActivity"/>
        </activity>
        <activity
            android:name=".navi.TabbedActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".navi.ScrollingActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".navi.SettingsActivity"
            android:label="@string/title_activity_settings">
        </activity>
        <activity
            android:name=".navi.NavigationDrawerBlurActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".navi.ViewPagerActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>